:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
}

.Table {
  width: 100%;
  margin: auto;
}

.Button {
  display: block;
  margin: 20px auto;
}

h1 {
  text-align: center;
}